.addForm {
    width: 350px;
    height: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: cornflowerblue;
    border: 3px solid black;
    border-radius: 20px;
}

.formLabel {
    font-size: 40px;
    margin-bottom: 15px;
}

.formInput {
    display: block;
    margin-top: 10px;
    padding-inline: 20px;
    padding-block: 20px;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
}

.formBtn {
    padding-inline: 20px;
    padding-block: 20px;
    border-radius: 5px;
    background-color: rgb(150, 144, 238);
    border: 2px solid black;
    cursor: pointer;
}

.formBtn:hover {
    background-color: yellow;
}